{% extends "layout.html" %}

{% block head %}
  <style>
    .container {
      width: 95%;
    }
    .span14 {
      width: 90%;
    }

    * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    table.half {
      width: 42%;
      float: left;
      margin: 5px;
      border: thin solid lightGray;
    }
    table > caption {
      font-size: larger;
    }
  </style>
{% endblock %}

{% macro table(rows_and_columns, caption='', class='') -%}
  <table class="condensed-table {{class}}">
    <caption>{{ caption }}</caption>
    <tr>
      {% for col in rows_and_columns[1] %}
        <th>{{ col }}</th>
      {% endfor %}
    </tr>
    {% for row in rows_and_columns[0] %}
      <tr>
      {% for col in rows_and_columns[1] %}
        <td>{{ row[col]|safe }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
  </table>
{%- endmacro %}

{% block body %}

  Jour: {{ jour }}<br>

  {% block ineo_body %}{% endblock %}

{% endblock %}
