.stopSelectorPopup {
  display: none;

  position: fixed;
  background-color: lime;

  border: 1px solid black;
  box-shadow: 0px 0px 100px #333333;

  top: 10%;
  min-height: 600px;
  height: 80%;
  XXXleft: 10%;
  left: 20%;
  XXXwidth: 80%;
  width: 60%;
}
.stopSelectorPopup h1 {
  height: 2em;
  margin: 0;
  padding: 4px;

  font-size: larger;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  background-color: lightGray;
}
.stopSelectorPopup .close {
  font-size: medium;
  float: right;
  margin-right: 2em;
}

.stopSelectorPopup .cityBrowser {
  background: white;
  position: absolute;
  top: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
