{% extends "layout.html" %}

{% block head %}
  <style>
    #deploy-restore-container {
      max-height: 20em;
      overflow-y: auto;
    }

    table.deploy-restore td {
      padding: 3px;
    }
    table.deploy-restore .btn {
      padding: 0;
    }
    .actions .label {
      margin: 0px 5px 0px 15px;
    }
  </style>
{% endblock %}

{% block body %}

  <h1>General Administration</h1>

  {% if is_admin() %}
    <form action="{{ url_for('.update_synthese') }}" method=post>
      <fieldset>
        <legend>Update Synthese</legend>
        <div class="clearfix">
          <label for="install_url">install script URL</label>
          <div class="input">
            <input id="install_url" name="install_url" type="text" class="xxlarge"
                   value="http://ci.rcsmobility.com/~build/synthese/lin/release/trunk/latest/install_synthese.py">
            <span class="help-block"><a href="http://ci.rcsmobility.com/~build/synthese/lin/release/trunk/?C=M;O=D"
              >See here for possible URLs</a></span>
          </div>
        </div>
        <div class="actions">
          <input type="submit" class="btn primary" value="Update Synthese">
          <span class="label notice">Notice</span>This won't interrupt the service.
        </div>
      </fieldset>
    </form>

    <form action="{{ url_for('.update_project') }}" method=post>
      <fieldset>
        <legend>Update Project</legend>
        <div class="clearfix">
          <label id="optionsCheckboxes">Options</label>
          <div class="input">
            <ul class="inputs-list">
              <li>
                <label>
                  <input type="checkbox" name="system_install">
                  <span>Run <var>system_install</var></span>
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" checked name="load_data">
                  <span>Run <var>load_data</var> and <var>load_local_data</var></span>
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="load_data_overwrite">
                  <span>Overwrite existing data with <var>load_local_data.</var>
                        <em>Use with care!</em></span>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="actions">
          <input type="submit" class="btn primary" value="Update Project">
          <span class="label important">Important</span>
          The service will be interrupted during daemon restart.
        </div>
      </fieldset>
    </form>

    <form action="{{ url_for('.svn_status') }}" method=post>
      <fieldset>
        <legend>SVN status</legend>
        <div class="actions">
          <input type="submit" class="btn primary" value="SVN status">
        </div>
      </fieldset>
    </form>

    <form action="{{ url_for('.svn_update') }}" method=post>
      <fieldset>
        <legend>SVN update</legend>
        <div class="clearfix">
          <label for="svn_username">SVN username</label>
          <div class="input">
            <input id="svn_username" name="svn_username" type="text">
          </div>
        </div>
        <div class="clearfix">
          <label for="svn_password">SVN password</label>
          <div class="input">
            <input id="svn_password" name="svn_password" type="password">
          </div>
        </div>
        <div class="actions">
          <input type="submit" class="btn primary" value="SVN update">
        </div>
      </fieldset>
    </form>

    {% if config.remote_server %}

    <h1>Deployment</h1>

    <p>Deployment will copy the database content to the server
       <code>{{ config.remote_server }}</code> (using remote project path:
       <code>{{ config.remote_project_path }}</code>)</p>

    <form action="{{ url_for('.deploy') }}" method=post>
      <fieldset>
        <div class="clearfix">
          <label>Deployment status</label>
          <div class="input">
            {% if deployer.locked %}
              <span class="label important">Deploy locked</span>
              <input type="submit" name="unlock" class="btn" value="Unlock">
              <span class="help-block">Deployment is locked: next automated deployment won't run.</span>
            {% else %}
              <span class="label success">Deploy unlocked</span>
              <input type="submit" name="lock" class="btn" value="Lock">
              <span class="help-block">Deployment is unlocked: next automated deployment will run normally.</span>
            {% endif %}
          </div>
        </div><!-- /clearfix -->

        <div class="clearfix">
          <label>Restore an old dump</label>
          <div class="input">
            <div id="deploy-restore-container">
              <table class="bordered-table zebra-striped deploy-restore">
                <thead>
                  <tr>
                    <th style="width: 20%;">Id</th>
                    <th>Date</th>
                    <th>Logs</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for dump in deployer.dumps|reverse %}
                  <tr>
                    <td>
                      {{ dump.id }}
                    </td>
                    <td>
                      {{ dump.date.strftime('%Y-%m-%d %H:%M') }}
                    </td>
                    <td>
                      <a href="{{ url_for('.deploy_logs', dump_id=dump.id) }}">logs</a>
                    </td>
                    <td>
                      <input type="submit" name="restore_{{dump.id}}" class="btn small" value="Restore">
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- /clearfix -->

        <div class="actions">
          <input type="submit" class="btn primary" value="Run Deploy Now">
        </div>
      </fieldset>
    </form>

    {% endif %}

    <h1>Administration Logs</h1>

    <pre>{{ last_admin_log }}</pre>

    <h1>Database Administration</h1>

    <p><a href="{{ url_for('.db') }}">Database Administration Page</a></p>

    {% if config.ineo_conn_string %}
      <h1>Ineo Realtime</h1>
  
      <p><a href="{{ url_for('.ineo_routes') }}">Ineo Realtime Debug Page</a></p>
    {% endif %}

  {% endif %}

  <h1>Gestion des imports</h1>

  <p><a href="{{ url_for('.import_template_list') }}">Liste des imports</a></p>

{% endblock %}
