{
  "__doc__": "See https://extranet.rcsmobility.com/projects/synthese/wiki/Synthese_Kiosk",
  "defaults": {
    "refreshTimeout": 120,
    "configRefreshTimeout": 300,
    "fallbackTimeout": 900,
    "fallbackUrl": "/kiosk/default_fallback.html"
  },
  "displays": {
    "display0": {
      "url": "/kiosk/tests/sample_page.html"
    }
  }
}
