body { font-family:helvetica; }
h1 { font-size:18px; }
table { border-collapse:collapse; width:80%; }
th, td { border-style:solid; border-width:0 2px 0 2px; border-color:white; }
th { background-color:#a0a0a0; color:white; padding:4px; font-size:14px; }
td { background-color:#e0e0e0; vertical-align:top; font-size:12px; padding:2px; }
th.src { width:70%; }
th.dep { width:30%; }
ol { padding-left:30px; }
ol li { font-weight:bold; }
ul li { font-weight:normal; }