.violet { border-color: purple; }
.rouge { border-color: red; }
.bleufonce { border-color: rgb(0,0,128); }
.vertclair { border-color: #00D900;}
.beige {border-color: #B35900;}
.bleuclair { border-color: #05BDFA;}
.vertfonce { border-color: #067928;}
.rosefonce { border-color: #C03070;}
.rose { border-color: #FF84C1;}
.marron { border-color: #804000;}
.jaune { border-color: #FEEB01;}
.orange { border-color: orange;}
.gris { border-color: #A0A0A0; }
#stylefin { }