[Unit]
Description=Synthese IV server watchdog
Documentation=https://extranet.rcsmobility.com/projects/synthese/wiki/
Requires=synthese.service
After=synthese.service

[Service]
Type=simple

EnvironmentFile=/etc/sysconfig/synthese

ExecStart=/bin/bash -c '${PREFIX}/share/synthese/bin/watchdog.sh ${PORT} ${WATCHDOG_DEBUG}

Restart=always
	

[Install]
WantedBy=multi-user.target

