[Unit]
Description=Synthese IV server watchdog (%i)
Documentation=https://extranet.rcsmobility.com/projects/synthese/wiki/
Requires=synthese@%i.service
After=synthese@%i.service

[Service]
Type=simple

EnvironmentFile=/etc/sysconfig/synthese-%i

ExecPreStart=/bin/chmod +x ${PREFIX}/share/synthese/bin/watchdog.sh

ExecStart=/bin/bash -c '${PREFIX}/share/synthese/bin/watchdog.sh ${PORT} ${WATCHDOG_DEBUG}'

Restart=always
	

[Install]
WantedBy=multi-user.target

