[Unit]
Description=Synthese IV server
Documentation=https://extranet.rcsmobility.com/projects/synthese/wiki/
After=mysql.service

[Service]
Type=simple

EnvironmentFile=/etc/sysconfig/synthese

ExecStart=/usr/bin/s3-server \
--dbconn ${DBCONN} \
--pidfile ${PIDFILE} \
--logfile ${LOGFILE} \
--param node_id=${NODEID} \
--param log_level=${LOGLEVEL} \
--param port=${PORT} \
${PARAMS}

Restart=always
	

[Install]
WantedBy=multi-user.target

