.violet { background: purple !important; }
.violetclair { background: rgb(200,100,200) !important; }
.rouge { background: red !important; }
.bleufonce { background: rgb(0,0,128) !important; }
.vertclair { background: rgb(0,180,0) !important; }
.beige { background: #B35900 !important; }
.bleuclair { background: rgb(0,180,240) !important; }
.vertfonce { background: #008030 !important; }
.rosefonce { background: #C03070 !important; }
.rose { background: #FF84C1 !important; }
.marron { background: #804000 !important; }
.jaune { background: #FEEB01 !important; color: black !important; }
.taxi { background: #FEEB01 !important; color: red !important; }
.orange { background: orange !important; }
.aero { background: #A0A0A0 !important; }
.ariege { background:gray !important; }
.carmip { background: red !important; color: yellow !important; font-style: italic !important; }
.aveyron { background: darkblue !important; color: gold !important; }
.tarn { background: white !important; color: green !important; }
.nuit { background: gray !important; color: #000080 !important; }
.gris { background: #A0A0A0 !important; }
.blanc { background: white !important; color:black !important; }
.jaune_kaki { background:#707928 !important; color:yellow !important; }
.jaune_vertfonce { background:#008030 !important; color:yellow !important; }
.jaune_violetfonce { background: purple !important; color:yellow !important;}
