BODY {
	SCROLLBAR-FACE-COLOR: gray; FONT-SIZE: smaller; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: lightgrey; SCROLLBAR-SHADOW-COLOR: black; SCROLLBAR-ARROW-COLOR: white; FONT-FAMILY: Tahoma,Verdana,sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #666666; BACKGROUND-COLOR: white
}
#LeftPane {
	FLOAT: left; WIDTH: 204px; POSITION: relative; BACKGROUND-COLOR: #f4f4f7
}
#RightPane {
	FLOAT: right; WIDTH: 130px; POSITION: relative; HEIGHT: 100%; BACKGROUND-COLOR: #8c8c83
}
#ContentPane {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 200px; MARGIN-RIGHT: 130px; PADDING-TOP: 0px; POSITION: relative
}
.PageTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 1.6em; COLOR: white
}
HR {
	COLOR: #cccccc; HEIGHT: 1px
}
SELECT {
	FONT-SIZE: 8pt; FONT-FAMILY: Tahoma,Verdana,sans-serif
}
.banner {
	BACKGROUND: url(bar.bmp); VERTICAL-ALIGN: middle; FONT-FAMILY: Tahoma,Verdana,sans-serif; HEIGHT: 48px
}
.bannerPath {
	BACKGROUND: url(bar2.bmp); HEIGHT: 23px; TEXT-ALIGN: right
}
.MenuTop {
	BACKGROUND: url(MenuTop.gif)
}
.MenuBody {
	BACKGROUND: url(MenuBody.gif)
}
.MenuContent {
	BACKGROUND: url(MenuContent.bmp)
}
.MenuBottom {
	BACKGROUND: url(MenuBottom.gif)
}
DIV {
	FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif
}
P {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 10px; LINE-HEIGHT: 1.5em; FONT-FAMILY: "Tahoma" , sans-serif
}
.MenuTitle {
	FONT-WEIGHT: bold; COLOR: white; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.header {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #ffffff 1px solid; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, sans-serif; BACKGROUND-COLOR: #cecf9c
}
.Alternating {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 8pt; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, sans-serif; BACKGROUND-COLOR: white
}
.RollOver {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 8pt; BORDER-LEFT: #ffffff 1px solid; COLOR: highlighttext; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, sans-serif; BACKGROUND-COLOR: highlight
}
.RowSelected {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 8pt; BORDER-LEFT: #ffffff 1px solid; COLOR: highlighttext; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, sans-serif; BACKGROUND-COLOR: highlight
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 14pt; MARGIN: 0px; COLOR: #ffffff; BORDER-BOTTOM: #336699 6px solid; BACKGROUND-COLOR: #003366
}
H1.Header {
	PADDING-LEFT: 30px; FONT-WEIGHT: normal; FONT-SIZE: 14pt; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 16px; BORDER-BOTTOM: #336699 6px solid; BACKGROUND-COLOR: #003366
}
H2 {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; MARGIN-TOP: 3px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: larger; BACKGROUND: url(h2.bmp); MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; BORDER-LEFT: 1px outset; COLOR: #ffffff; BORDER-BOTTOM: #73716b 2px solid
}
.H2 {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; MARGIN-TOP: 3px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: larger; BACKGROUND: url(h2.bmp); MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; BORDER-LEFT: 1px outset; COLOR: #ffffff; BORDER-BOTTOM: #73716b 2px solid
}
H3 {
	BORDER-TOP: 1px outset; FONT-WEIGHT: bold; FONT-SIZE: larger; MARGIN: 6pt 0in 3pt; COLOR: black; PADDING-TOP: 6pt
}
H4 {
	MARGIN-TOP: 15px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 15px; COLOR: #000000
}
.MSGBODY {
	OVERFLOW-Y: scroll; OVERFLOW-X: auto; WIDTH: 100%
}
INPUT {
	FONT-FAMILY: Tahoma
}
INPUT.clsButton {
	BORDER-RIGHT: #9caac4 1px solid; BORDER-TOP: #9caac4 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #9caac4 1px solid; BORDER-BOTTOM: #9caac4 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 23px
}
BUTTON {
	BORDER-RIGHT: #9caac4 1px solid; BORDER-TOP: #9caac4 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #9caac4 1px solid; BORDER-BOTTOM: #9caac4 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 23px
}
.clsButton {
	BORDER-RIGHT: #9caac4 1px solid; BORDER-TOP: #9caac4 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #9caac4 1px solid; BORDER-BOTTOM: #9caac4 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 23px
}
.menu_tit {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
A.MenuLink {
	FONT-WEIGHT: normal; FONT-SIZE: smaller; COLOR: #77756b; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A.SelectedMenuLink {
	FONT-WEIGHT: bold; FONT-SIZE: smaller; COLOR: #77756b; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
.HeaderText {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Verdana, Geneva, Helvetica, sans-serif; TEXT-DECORATION: none
}
SPAN.Code {
	FONT-FAMILY: "Lucida Console" , Courier New; WORD-WRAP: break-word
}
SPAN.CodeBlue {
	COLOR: blue; FONT-FAMILY: "Lucida Console" , Courier New
}
UL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 25px
}
OL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 25px
}
UL LI {
	MARGIN-BOTTOM: 0.5em; LINE-HEIGHT: 1.2em
}
SPAN.CodeMaroon {
	COLOR: maroon; FONT-FAMILY: "Lucida Console" , Courier New
}
DIV.Code {
	BORDER-RIGHT: windowtext 1pt solid; PADDING-RIGHT: 10px; BORDER-TOP: windowtext 1pt solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; MARGIN: 30px; BORDER-LEFT: windowtext 1pt solid; WORD-BREAK: break-all; LINE-HEIGHT: 1.1em; PADDING-TOP: 10px; BORDER-BOTTOM: windowtext 1pt solid; FONT-FAMILY: "Lucida Console" , Courier New; BACKGROUND-COLOR: #f4f4f7
}
