{% extends "layout.html" %}
{% block breadcrumb %}
<li>{{ i18n.login }}</li>
{% endblock %}

{% block body %}
  {% if error %}
    <div class="alert-message error">
      <a class="close" href="#">&times;</a>
      <p><strong>{{ i18n.error }}</strong> {{ error }}</p>
    </div>
  {% endif %}
  <form action="{{ url_for('.login') }}" method=post>
    <fieldset>
      <div class="clearfix">
        <label>{{ i18n.username }}</label>
        <div class="input">
          <input type=text name=username autofocus>
        </div>
      </div>
      <div class="clearfix">
        <label>{{ i18n.password }}</label>
        <div class="input">
          <input type=password name=password>
        </div>
      </div>
    </fieldset>
    
    <div class="actions">
      <button type="submit" class="btn primary">{{ i18n.login }}</button>
    </div>

    <input type=hidden name=next value="{{ request.args.next }}">
  </form>
{% endblock %}
