/** Standard tags */
body {
	background:url(/bi/6/img/tisseo-fond.jpg) top left repeat-x;
	font-family:helvetica,arial,sans;
	font-size:12px;
	color:#383C71;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background-color:#ffffff;
	scrollbar-face-color: #FCB42A;
	scrollbar-shadow-color: #363C92;
	scrollbar-highlight-color: #ffcc33;
	scrollbar-3dlight-color: #ffcc33;
	scrollbar-darkshadow-color:#363C92;
	scrollbar-track-color: #ffcc33;
	scrollbar-arrow-color: #363C92;
}



caption {
	display:none;
}

img
{
	border-width:0px;
}

form,
td,
th
 {
	color:#383C71;
	font-family:helvetica,arial,sans;
	font-size:12px;
	padding:0px 0px 0px 0px;
}

a:link {
	color:#100871;
	text-decoration:none;
}
a:visited {
	color:#100871;
	text-decoration:none;
}
a:hover {
	color:#FFBA30;
	text-decoration:none;
}
a:active {
	color:#100871;
	text-decoration:none;
}

h1 {
	font-size:21px;
	color:#100C69;
}
h2 {
	padding-left:20px;
	color:#303C96;
	font-size:16px;
}
h3 {
	color:#303C96;
	font-size:12px;
}
h4 {
	color:#F78A00;
	font-size:12px;
}
h5 {
}
h6 {
}
ul {
}
li {
}

/** Positioning */
#mainDocument {
	width:805px;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	padding-top:90px;
	text-align:left;
	background:url(/bi/6/img/tisseo-photo.jpg) top right no-repeat;
}
#header {
	width:100%;
	margin:0px 0px 0px 0px;
}
#mainLeft {
	width:154px;
	padding:0px 0px 0px 10px;
	float:left;
    position: relative;
    top: -40px;
	margin-top:0px;
}
#mainCenter {
	width:370px;
	padding:0px 5px 0px 9px;
	float:left;
	margin-top:0px;
}
#mainRight {
	width:230px;
	padding:0px 0px 0px 17px;
	float:left;
	margin-top:0px;
}
#footer{
	width:805px;
	clear:both;
	margin-top:20px;
}

/* Specific styles */

/* Forms anywhere */
select,
textarea,
input,
.frmField {
	margin-top:0px;
	font-size:11px;
	color:#2824A6;
}
/*Submit*/
.frmSubmit {
	font-size:11px;
	font-weight:bold;
	color:#2824A6;
	background-color:#FFBA38;
	margin-top:0px;
	margin-bottom:0px;
}


/* In header */

#tableRubriques {
	margin-top:1px;
	margin-left:32px;
}
#titreH1 {
	width:560px;
	text-align:left;
	margin-top:15px;
	margin-bottom:0px;
	padding-left:173px;


}

/* In mainLeft */
div.subLinks {
	padding:0px 10px 20px 5px;
}


#mainLeft .subLinks ul {
	list-style-type:none;
	padding-left:0px;
	margin-left:0px;
	margin-top:0px;
	border-bottom:1px solid #100871;
}
#mainLeft .subLinks li {
	padding:4px;
	border-top:1px solid #100871;
}

#mainLeft .subLinks li.n2 {
	padding:0px 4px 1px 20px;
	font-size:8pt;
	border:none;
}

#mainLeft .subLinks li.selectedn2 {
	padding:0px 4px 1px 20px;
	font-size:8pt;
	border:none;
	color:#FFBA30;
}

#mainLeft .subLinks li.selected {
	font-weight:bold;
	color:#FFBA30;
}
#mainLeft .subLinks a {
	font-weight:bold;
}

#mainLeft .subLinks li.n2 a {
	font-weight:normal;
}

/* In main center */

.navHistory {
	margin-left:50px;
	margin-top:10px;
	color:#100871;
                width: 745px;
                text-align: right;/*
                position: relative;
                right: 10px;*/
}
.navHistory a:link {
	color:#100871;
	text-decoration:none;
}
.navHistory a:visited {
	color:#100871;
	text-decoration:none;
}
.navHistory a:hover {
	color:#FFBA30;
	text-decoration:none;
}
.navHistory a:active {
	color:#100871;
	text-decoration:none;
}


div.links {
	width:207px;
	margin-left:5px;
	margin-bottom:30px;
	border-top:1px solid #181C59;
}
div.links img.link {
	border-bottom:1px solid #181C59;
}

/* Links and sublinks */
ul.linksBottomChildren {
	margin:0px;
	padding:0px;
	color:#FFB641;
}
ul.linksBottomChildren li.selected {
	list-style-image:url("/img/connex/arrow-link-selected.gif");
	margin:3px 0px 3px 40px;
}
ul.linksBottomChildren li {
	list-style-type:none;
	margin:3px 0px 3px 40px;
}
ul.linksBottomChildren li > a:link {
}

/* in footer */
#navBottom {
	font-size:10px;
	color:#100C69;
	margin-left:10px;
	margin-bottom:5px;
}
#navBottom img.separateur {
	margin-left:3px;
	margin-right:3px;
}
#navBottom a:link {
	font-size:10px;
	color:#100C69;
	text-decoration:none;
}
#navBottom a:visited {
	font-size:10px;
	color:#100C69;
	text-decoration:none;
}
#navBottom a:hover {
	font-size:10px;
	color:#FFBA30;
	text-decoration:none;
}
#navBottom a:active {
	font-size:10px;
	color:#100C69;
	text-decoration:none;
}


/*
	EN TETE
*/

table.et
{
	width:100%;
	border:none;
	margin:0px;
}

table.et td
{
	text-align:left;
	vertical-align:top;
    white-space:nowrap;
	padding:0px;
	font-size:12px;
	font-weight:bold;
}

/*
	TABLEAU DE DISPOSITION FORM|ECRAN
*/

table.d
{
	width:100%;
	border:none;
	margin:0px;
}

table.d td
{
	border:none;
	vertical-align:top;
	text-align:left;
	padding:5px;
}

/*
	TABLEAUX ORIGINE / DESTINATION
*/

table.aa
{
	margin:0px;
}

table.aa td
{
	padding:0px;
}

table.a
{
	width:229px;
	border:none;
	border-collapse:collapse;
	margin:0px 20px 20px 5px;
}
table.a td
{
	padding:0px;
	background-color:#ffffdb;
	font-size:12px;
}
table.a td.p
{
	background-image:url(/bi/4/img/fond-pointilles-rouges.gif);
	padding:0px 5px 0px 0px;
	background-color:#fbb42a;
}

table.a tr.b td
{
	vertical-align:bottom;
}


/*
	FORMULAIRE
*/

table.f
{
	margin:20px 0px 1px 0px;
	border:none;
	border-collapse:collapse;
	text-align:left;
}

table.f td
{
	padding:4px 10px 4px 10px;
	border-style:solid;
	border-color:white;
	border-width:0px 1px 0px 1px;
	font-size:10px;
}

table.f th
{
	padding:11px 0px 0px 16px;
	background-position:left top;
	background-repeat:no-repeat;
}

table.f th.r, table.f td.r
{
	color:red;
}

table.f th.b, table.f td.b
{
	color:#281B81;
}

table.f tr.v
{
	background-color:#fbb42a;
	height:10px;
}

table.f tr.b td
{
	vertical-align:bottom;
}

/*
	GENERALITES
*/

A:link {color:#110A7A;text-decoration:none; cursor:hand;}
A:visited {color:#110A7A;text-decoration:none; cursor:hand;}
A:active {color:#E10B31;text-decoration:none; cursor:hand;}
A:hover {color:#E10B31;text-decoration:none; cursor:hand;}
img { border:none; }

.lienBleuFonce, A.lienBleuFonce:link{
	font-family:Verdana,Helvetica,sans-serif;
	font-weight:bold;
	color:#110A7A;
	text-decoration:none;
}
A.lienBleuFonce:visited{
	font-family:Verdana,Helvetica,sans-serif;
	font-weight:bold;
	color:#110A7A;
	text-decoration:none;
}
A.lienBleuFonce:active {
	font-family:Verdana,Helvetica,sans-serif;
	font-weight:bold;
	color:#E10B31;
	text-decoration:none;
}
A.lienBleuFonce:hover {
	font-family:Verdana,Helvetica,sans-serif;
	font-weight:bold;
	color:#E10B31;
	text-decoration:none;
}

.ListeNomRouge a:link, .lienRougeLt, A.lienRougeLt:link{
	font-family:Verdana,Helvetica,sans-serif;
	color:#E10B31;
	text-decoration:none;
}
.ListeNomRouge a:visited, A.lienRougeLt:visited{
	font-family:Verdana,Helvetica,sans-serif;
	color:#E10B31;
	text-decoration:none;
}
.ListeNomRouge a:active, A.lienRougeLt:active {
	font-family:Verdana,Helvetica,sans-serif;
	color:#E10B31;
	text-decoration:none;
}
.ListeNomRouge a:hover, A.lienRougeLt:hover {
	font-family:Verdana,Helvetica,sans-serif;
	color:#281B81;
	text-decoration:underline;
}
.ListeNomBleu a:link, .lienBleuLt,A.lienBleuLt:link{
	font-family:Verdana,Helvetica,sans-serif;
	color:#281B81;
	text-decoration:none;
}
.ListeNomBleu a:visited, A.lienBleuLt:visited{
	font-family:Verdana,Helvetica,sans-serif;
	color:#281B81;
	text-decoration:none;
}
.ListeNomBleu a:active, A.lienBleuLt:active {
	font-family:Verdana,Helvetica,sans-serif;
	color:#281B81;
	text-decoration:none;
}
.ListeNomBleu a:hover, A.lienBleuLt:hover {
	font-family:Verdana,Helvetica,sans-serif;
	color:#E10B31;
	text-decoration:underline;
}

.vignetterouge{
	color:#E10B31;
}
.vignettebleu{
	color:#281B81;
}
.txtFormulairesRouges{
	font-family:Verdana,Helvetica,sans-serif;
	font-size:10px;
	color:#E10B31;
}
.txtFormulairesBleus{
	font-family:Verdana,Helvetica,sans-serif;
	font-size:10px;
	color:#281B81;
}
.frmField{
	font-family:Verdana,Helvetica,sans-serif;
	font-size:10px;
	color:#281B81;

}

.tableLigneBus{
	font-size:10px;
	font-weight:bold;
	color:#ffffff;
}


/*
	ZONE DE RESULTATS (FICHE HORAIRE OU FEUILLE DE ROUTE)
*/

div.r
{
	background-color:#FFF3A4;
	width:100%;
	text-align:center;
}


/*
	TITRE DE RESULTAT
*/

div.r table.t
{
	width:100%;
	border-collapse:collapse;
}

div.r table.t tr
{
	background-color:red;
}

div.r table.t td
{
	color:white;
	font-size:9px;
	padding:2px;
}

div.r table.t td a
{
	color:gold;
}

div.r table.t td a:hover
{
	color:orange;
}

div.r table.t td.ttl
{
	text-align:left;
}

div.r table.t td.ttr
{
	text-align:right;
}

/*
	TABLEAU DE RESULTAT (FH OU FR)
*/

table.tb
{
    border-collapse:collapse;
    border:1px solid #fbb42a;
	margin:0px;
}

table.tb td, table.tb th
{
	padding:0px;
}

table.tb tr.hor
{
    line-height:12px;
    color:#281B81;
    background-color:#dfdfdf;
}

table.tb tr.hor1
{
    line-height:12px;
    color:#281B81;
    background-color:#C4C3C3;
}

table.tb tr.hor td, tr.hor1 td
{
    border-right:1px solid #fbb42a;
    font-family:Helvetica,sans-serif;
    white-space: nowrap;
    text-align:center;
    font-size:10px;
    font-weight:bold;
    padding:1px 2px 1px 2px;
}

table.tb tr.hor th, tr.hor1 th
{
    border-right:1px solid #fbb42a;
    font-family:Helvetica,sans-serif;
    white-space: nowrap;
    text-align:left;
    font-size:10px;
    font-weight:normal;
	padding:0px 2px 0px 2px;
}

table.tb tr.tc td
{
    background-color:#281B81;
    border-right:1px solid #fbb42a;
    font-family:Helvetica,sans-serif;
    font-size:10px;
    color:#ffffff;
	text-align:center;
}

/*
FICHE HORAIRE TR LIGNES ET TR DUREES
*/

tr.lignes, tr.durees
{
    background-color:#281B81;
}

tr.lignes td, tr.durees td
{
    border-right:1px solid #fbb42a;
    text-align:center;
    color:#c4c3e0;
    font-size:10px;
    font-family:Helvetica,sans-serif;
}

tr.lignes th, tr.durees th
{
    background-color:#281B81;
    border-right:1px solid #fbb42a;
    font-family:Helvetica,sans-serif;
    font-size:10px;
    color:#ffffff;
    text-align:left;
	padding:0px 2px 0px 2px;
}

table.li td
{
	border:none !important;
}


div.Q {
	position:absolute;
	visibility:hidden;
	top:135px;
	left:248px;
	width:512px;
	background:#FFFFFF;
	height:404px;
	z-index:0;
	magin:0px;
}

div.P {
	position:absolute;
	visibility:hidden;
	top:135px;
	left:248px;
	width:512px;
	background:#FFFFFF;
	height:404px;
	z-index:0;
	magin:0px;
}

div.S {
	position:absolute;
	visibility:hidden;
	top:135px;
	left:248px;
	width:512px;
	background:#FFFFFF;
	height:404px;
	z-index:0;
	magin:0px;
}

form { margin:0px; }

div.TableauHoraires { background-color:#FFF3A4; overflow-x:scroll; overflow-y:visible; width:100%;}


/*
CARTOUCHES DE LIGNES
*/

table.l { 
	border:none; 
	float: middle; 
	border-collapse:collapse; 
	width:29px;
}

table.l td
{
	text-align: center !important;
	vertical-align:middle !important;
	color: white;
	border: 1px solid #281B81 !important; 
	font-weight: bold !important;	
	font-size: 12px !important; 
	width: 27px; 
	height: 20px; 
	padding:0px !important;
}



table.mtg { width:216px; border-collapse:collapse }
table.mtg td { padding:0px; }

table.mtg table.l { border: none; float: middle; border-collapse:collapse; margin:1px;}
table.mtg table.l td { border: 1px solid #281B81; text-align: center !important; font-weight: 700 !important; font-family: helvetica, sans-serif !important; font-style: normal !important; font-size: 10pt; width: 25px !important; height: 20px !important; color: white; }

.Titredialog { width: 100%; background-color:#FFF883;  }
.thTitreDialog { font-family:Verdana,Helvetica,sans-serif; font-size:12px; color:#FFF883; background-color:#E10B31; }

.ListeNomRouge, .ListeNomBleu { font-weight:bold; font-size:7pt; padding: 20px; }


th.thHorairesDuree, th.thHorairesRenvois {
	font-family:Helvetica,sans-serif;
	font-size:10px;
	color:#ffffff;
	background-color:#281B81;
	border-right:1px solid #fbb42a;
}

td.tdDuree  {
	font-family:Helvetica,sans-serif;
	font-size:11px;
	color:#ffffff;
	background-color:#281B81;
	border-right:1px solid #fbb42a;
	text-align:center;
}















table.affichagetbdepgare
{
	border-collapse: collapse;
	margin: 0px;
	width: 100%;
}

table.affichagetbdepgare td.voie
{	
	border-style: solid;
	border-width: 2pt;
	border-color: #5060B0;
	font-family: trebuchet ms, arial narrow;
	background: #FBD640;
	font-size: 8pt;
	font-weight: 700;
	text-align: center;
	width: 80px !important;
	overflow: scroll;
}

table.affichagetbdepgare td.ligne
{
	border-style: solid;
	border-width: 2pt;
	border-color: #5060B0;
	font-family: arial narrow;
	background: #FBD640;
	text-align: center;
	width: 90px;
	height: 55px;
}

table.affichagetbdepgare table.l
{
	border: none;
	border-collapse: collapse;
	width: 120px;
	height: 55px;
}


table.ligne span.petitter
{
	font-size: 8pt !important;
}

table.affichagetbdepgare td.heure
{
	border-style: solid;
	border-width: 2pt;
	border-color: #5060B0;
	background: #FBD640;
	width: 170px;
	text-align: center;
}

table.affichagetbdepgare td.heureretard
{
	border-style: solid;
	border-width: 2pt;
	border-color: #5060B0;
	background: #FBD640;
	width: 170px;
	text-align: center;
}

table.affichagetbdepgare td.heureretard p
{
	font-family: trebuchet ms, arial;
	font-size: 44pt;
	font-weight: 900;
	margin: 0pt;
	color: red;
}

table.affichagetbdepgare td.heure p
{
	font-family: trebuchet ms, arial;
	font-size: 44pt;
	font-weight: 900;
	margin: 0pt;
	color: black;
}

table.affichagetbdepgare td.desserte
{	
	border-style: solid;
	border-width: 2pt;
	border-color: #5060B0;
	background: #FBD640;
}

table.casedestination
{
	width: 100%;
	margin: -1pt;
	border-style: none !important;
}

table.casedestination td
{
	font-family: trebuchet ms, arial !important;
	padding: 0pt;
	border-style: none !important;
	border-width: 0px !important;
}

table.casedestination td.commune p
{
	font-size: 32pt !important;
	font-weight: 900;
	font-variant: small-caps;
	font-family: trebuchet ms, arial black !important;
	color: black;
	margin: -8pt 5pt -7pt 5pt;
}

table.casedestination td.arret p, table.casedestination td.arret marquee
{
	font-size: 17pt !important;
	font-weight: 800;
	color: black;
	margin: -2pt 5pt 0pt 5pt;
}

table.casedestination td.arrivee p
{
	text-align: right !important;
	font-size: 17pt !important;
	font-weight: 800;
	color: black;
	margin: -2pt 5pt 0pt 5pt;
}

table.affichage td.heure
{
	border-style: solid;
	border-width: 5pt;
	border-color: #101050;
	font-family: arial narrow;
	background: #B0B0B0;
	font-size: 55pt;
	font-weight: 700;
	text-align: center;
	width: 160;
}

table.affichage td.desserte
{	
	border-style: solid;
	border-width: 5pt;
	border-color: #101050;
	font-family: arial narrow;
	background: #B0B0B0;
	font-size: 20pt;
	font-weight: 700;
}

table.grandtitreaffichage
{ 
	color: white !important;
	font-family: trebuchet ms, arial;
	font-weight: 700 !important;
	background: #E04040 !important;
	width: 100% !important;
	vertical-align: middle !important;
	padding: 1pt  !important;
	margin: 0pt 0pt 10pt 0pt !important;
}

table.grandtitreaffichage td
{ 
	font-size: 20pt !important;
	color: white !important;
	font-family: trebuchet ms, arial;
	font-weight: 700 !important;
	background: #E04040 !important;
	vertical-align: middle !important;
}

.txtAide
{
	padding:10px;
	font-family : Verdana,Helvetica,sans-serif;
	font-size:10px;
	color:#281B81;
	font-weight:normal;
}

.txtAide td
{
	padding:2px;
	font-family : Verdana,Helvetica,sans-serif;
	font-size:10px;
	color:#281B81;
	font-weight:normal;
}

.txtAide img
{
	border:none;
}

p.la
{
font-size:10px; font-weight:100; margin:0px 0px 0px 5px;
}

table.li td
{
	border:none;
}

/*
	ZONE TEXTE ACCUEIL
*/

table.ac
{
	width:85%;
	border-collapse:collapse;
}

table.ac td.g
{
	padding: 2px 0px 0px 2px;
	text-align:right;
}

table.ac td.d
{
	width:100%;
	text-align:left;
	vertical-align:top;
	padding:0px;
	font-size:12px;
	font-weight:bold;
}

p.tf
{
	font-size:11px;	
	background-color:#FFB545; 
	font-weight:bold !important; 
	margin:0px;
	padding:2px;
}

p.bf
{
	background-color:#FEDC9A;
	padding:0px 1px 0px 0px;
	text-align:right;
	margin:0px;
	vertical-align:middle;
	font-size:11px;
}

/*
	IMPRESSION
*/

@media print
{
	.noimp
	{
		display:none;
	}
}